#footer {
    .container {
        padding: 50px 0;
        .top-footer {
            display: flex;
            .footer-logo {
                max-width: 260px;
            } 
            .social-icons {
                img {
                    width: 45px;
                }
            }
            .contact {
                display: flex;
                flex-direction: row;
                img {
                    width: 35px;
                    top: 10px;
                    position: relative;
                }
            }
        }
    }
}